body ::-webkit-scrollbar {
  height: 5px; /*for horizonatal scrollbar*/
  width: 5px;
}

/* Track */
body ::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
body ::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 2.5px;
}

/* Handle on hover */
body ::-webkit-scrollbar-thumb:hover {
  background: #007bff;
}
