p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
a,
input,
button,
ul li,
.Toastify {
  font-family: "Futura", "Poppins", "Mulish", "Roboto", sans-serif !important;
}

.list-group {
  text-indent: -1.3em;
}

.list-group .list-group-item.bg-light {
  background: url("./bulltetdark.svg") no-repeat left center;
  background-size: 15px 15px;
}

.list-group .list-group-item.bg-dark {
  background: url("./bullet.svg") no-repeat left center;
  background-size: 15px 15px;
}

body ::-webkit-scrollbar {
  height: 5px;
  /*for horizonatal scrollbar*/
  width: 5px;
}

/* Track */
body ::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
body ::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 2.5px;
}

/* Handle on hover */
body ::-webkit-scrollbar-thumb:hover {
  background: #007bff;
}

code {
  font-family: "Menlo", monospace !important;
}

.bg-dark {
  background-color: #282c34 !important;
}

.bg-dark .sc-gsTCUz,
.bg-dark .irsCXf {
  font-family: "Menlo", monospace !important;
}

.bg-dark .react-syntax-highlighter-line-number {
  color: #0076c4;
}

.bg-dark code {
  font-family: "Menlo", monospace !important;
  color: rgba(255, 255, 255, 0.87);
}

.bg-dark code span {
  font-family: "Menlo", monospace !important;
}

.bg-dark .border-right {
  border-right: 0.1px solid rgba(255, 255, 255, 0.1) !important;
}

.bg-dark hr {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.bg-dark .sidenav-links {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.87) !important;
  display: block;
}

.bg-dark .sidenav-links:hover {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background-color: #343a40;
  color: rgba(255, 255, 255, 0.87);
}

.bg-dark .sidenav-links:active {
  background-color: #343a40;
  color: #fff;
}

.bg-dark .nav-pills .nav-link.active,
.bg-dark .nav-pills .show > .nav-link {
  background-color: #343a40;
  color: #fff;
}

.bg-dark .form-control {
  background-color: #343a40;
  color: rgba(255, 255, 255, 0.87);
  border-color: #282c34 !important;
}

.bg-dark .form-control:focus {
  background-color: #343a40;
}

.bg-dark input:-internal-autofill-selected {
  background-color: #343a40 !important;
}

.text-light {
  color: rgba(255, 255, 255, 0.87) !important;
}

.bg-light .sc-gsTCUz,
.bg-light .irsCXf {
  font-family: "Menlo", monospace !important;
}

.bg-light code {
  font-family: "Menlo", monospace !important;
  color: #c46800;
}

.bg-light code span {
  font-family: "Menlo", monospace !important;
}

.bg-light .react-syntax-highlighter-line-number {
  color: #343a40;
}

.bg-light .sidenav-links {
  font-size: 1.1rem;
  color: #282c34;
  display: block;
}

.bg-light .sidenav-links:hover {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background-color: #e4e4e4;
  color: #282c34;
}

.bg-light .sidenav-links:active {
  background-color: #e4e4e4;
  color: #282c34;
}

.bg-light .nav-pills .nav-link.active,
.bg-light .nav-pills .show > .nav-link {
  background-color: #e4e4e4;
  color: #282c34;
  border-radius: 0px;
}

.output-img {
  height: 300px;
}

.code-container {
  max-height: 87vh;
  overflow-y: scroll;
  margin-top: 3vh;
}

.h-90 {
  height: 90vh !important;
}

.w-95 {
  max-width: 95% !important;
}

.background-dark {
  background-color: #343a40;
}

.borderless {
  border: none !important;
}

.btn {
  padding: 0.5rem 1.5rem;
  font-size: larger;
}

.scroll-y {
  overflow-y: scroll;
}

#ace-editor,
.ace_content,
.ace_scroller,
.ace_gutter,
.ace_text-input,
.ace_scrollbar .ace_scrollbar-v {
  font-family: "Menlo", monospace !important;
}
/*# sourceMappingURL=style.css.map */