$white: rgba(255, 255, 255, 0.87);
$purewhite: #fff;
$bg: #282c34;
$black: #343a40;
$whiteBorder: rgba(255, 255, 255, 0.1);
$whitehover: rgb(228, 228, 228);

p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
a,
input,
button {
  font-family: "Poppins", sans-serif;
}

body ::-webkit-scrollbar {
  height: 5px; /*for horizonatal scrollbar*/
  width: 5px;
}

/* Track */
body ::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
body ::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 2.5px;
}

/* Handle on hover */
body ::-webkit-scrollbar-thumb:hover {
  background: #007bff;
}

code {
  font-family: "Menlo", monospace !important;
}

.bg-dark {
  background-color: $bg !important;
  .sc-gsTCUz,
  .irsCXf {
    font-family: "Menlo", monospace !important;
  }

  .react-syntax-highlighter-line-number {
    color: #0076c4;
  }

  code {
    font-family: "Menlo", monospace !important;
    color: $white;
    span {
      font-family: "Menlo", monospace !important;
    }
  }

  .border-right {
    border-right: 0.1px solid $whiteBorder !important;
  }
  hr {
    border-top: 1px solid $whiteBorder;
  }

  .sidenav-links {
    font-size: 1.1rem;
    color: $white !important;
    display: block;
    &:hover {
      transition: all 0.2s ease-in;
      background-color: $black;
      color: $white;
    }
    &:active {
      background-color: $black;
      color: $purewhite;
    }
  }

  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background-color: $black;
    color: $purewhite;
  }
  .form-control {
    background-color: $black;
    color: $white;
    border-color: $bg !important;
    &:focus {
      background-color: $black;
    }
  }
  input:-internal-autofill-selected {
    background-color: $black !important;
  }
}

.text-light {
  color: $white !important;
}

.bg-light {
  .sc-gsTCUz,
  .irsCXf {
    font-family: "Menlo", monospace !important;
  }
  code {
    font-family: "Menlo", monospace !important;
    // color: $bg;
    color: #c46800;
    span {
      font-family: "Menlo", monospace !important;
    }
  }
  .react-syntax-highlighter-line-number {
    color: $black;
  }

  .sidenav-links {
    font-size: 1.1rem;
    color: $bg;
    display: block;
    &:hover {
      transition: all 0.2s ease-in;
      background-color: $whitehover;
      color: $bg;
    }
    &:active {
      background-color: $whitehover;
      color: $bg;
    }
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background-color: $whitehover;
    color: $bg;
    border-radius: 0px;
  }
}

.output-img {
  height: 300px;
}
.code-container {
  max-height: 87vh;
  overflow-y: scroll;
  margin-top: 3vh;
}
.h-90 {
  height: 90vh !important;
}
.w-95 {
  max-width: 95% !important;
}

.background-dark {
  background-color: $black;
}
.borderless {
  border: none !important;
}

.btn {
  padding: 0.5rem 1.5rem;
  font-size: larger;
}
.scroll-y {
  overflow-y: scroll;
}

#ace-editor,
.ace_content,
.ace_scroller,
.ace_gutter,
.ace_text-input,
.ace_scrollbar .ace_scrollbar-v {
  font-family: "Menlo", monospace !important;
}
