$white: rgba(255, 255, 255, 0.87);
$purewhite: #fff;
$bg: #282c34;
$black: #343a40;
$whiteBorder: rgba(255, 255, 255, 0.1);
$whitehover: rgb(228, 228, 228);
* {
  font-family: "Roboto", sans-serif;
}

code {
  font-family: "Menlo", monospace !important;
}

.bg-dark {
  background-color: $bg !important;

  .react-syntax-highlighter-line-number {
    color: $white;
  }

  code {
    color: $white !important;
    letter-spacing: 1px;
  }

  .border-right {
    border-right: 0.1px solid $whiteBorder !important;
  }
  hr {
    border-top: 1px solid $whiteBorder;
  }

  a {
    font-size: 1.1rem;
    color: $white;
    display: block;
    &:hover {
      transition: all 0.2s ease-in;
      background-color: $black;
      color: $white;
    }
    &:active {
      background-color: $black;
      color: $purewhite;
    }
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background-color: $black;
    color: $purewhite;
  }
}

.text-light {
  color: $white !important;
}

.bg-light {
  code {
    letter-spacing: 1px;
  }

  a {
    font-size: 1.1rem;
    color: $bg;
    display: block;
    &:hover {
      transition: all 0.2s ease-in;
      background-color: $whitehover;
      color: $bg;
    }
    &:active {
      background-color: $whitehover;
      color: $bg;
    }
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background-color: $whitehover;
    color: $bg;
    border-radius: 0px;
  }
}
